.profile-pic {
    border-radius: 50%; 
    background: gray; 
    height: 30px; 
    width: 30px;
    position: relative;
}

.profile-pic img {
    height: 100%; 
    width: 100%; 
    border-radius: 50%;
    overflow:hidden;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
}

.sm {
    height: 25px; 
    width: 25px; 
}

.md {
    height: 40px; 
    width: 40px; 
}

.lg {
    height: 50px; 
    width: 50px; 
}

.xl {
    height: 80px; 
    width: 80px; 
}

.bg.profile-pic::after {
    content:'';
    border-radius: 50%;
    position: absolute;
    height: 110%; 
    width: 110%;
    background: linear-gradient(41.92deg, #FFDC80 17.91%, #F56040 53.08%, #C13584 85.44%);
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: -2;
}
.bg.profile-pic::before {
    content:'';
    border-radius: 50%;
    position: absolute;
    height: 105%; 
    width: 105%;
    background: white;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}