.profile-pic {
    border-radius: 50%; 
    height: 30px; 
    width: 30px;
    position: relative;
}

.profile-pic img {
    background: gray; 
    border: 1px solid white;
    height: 100%; 
    width: 100%; 
    border-radius: 50%;
    overflow:hidden;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
    object-fit: cover;
}
.xs {
    height: 10px;
    width: 10px;
}
.sm {
    height: 25px; 
    width: 25px; 
}

.md {
    height: 40px; 
    width: 40px; 
}

.lg {
    height: 50px; 
    width: 50px; 
}

.xl {
    height: 80px; 
    width: 80px; 
}

.bg  {
    border-radius: 50%;
    position: relative;
    height: 110%; 
    width: 110%;
    background: linear-gradient(41.92deg, #FFDC80 17.91%, #F56040 53.08%, #C13584 85.44%);
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
