.mobile-container {
    display: flex; 
    height: 100vh; 
    min-width: 100%;
    width: 100%;
    flex-direction: column;
}

.mobile-nav-header, .mobile-nav-footer {
    height: 5vh;
    background: white;
}

.mobile-nav-footer{
    border-top: rgb(var(--input-bg)) 1px solid;
}
.mobile-nav-header{
    border-bottom: rgb(var(--input-bg)) 1px solid;
}

.content {
    flex: 1;
    overflow-y: scroll;
    word-wrap: break-word;
    /* background: rgb(var(--input-bg)); */
    background: rgb(250,250,250)
}

.desktop-container {
    display: grid; 
    height: 100vh; 
    width: 100vw; 
    grid-template-columns: 335px 1fr;
}
