.mobile-container {
    display: flex; 
    height: 100vh; 
    min-width: 100%;
    width: 100%;
    flex-direction: column;
}

.mobile-nav-header, .mobile-nav-footer {
    height: 10vh;
    background: lightblue;
}

.content {
    flex: 1;
    overflow-y: scroll;
    word-wrap: break-word;
    height: 200vh;
}

.desktop-container {
    display: grid; 
    height: 100vh; 
    width: 100vw; 
    grid-template-columns: 300px 1fr;
}
