.reels {
    height: 16px; 
    width: 16px; 
    /* background-image: url("/images/instagram-reels-icon.svg"); */
}

.menu-container {
    max-height: 100vh;
    background: white; 
    border-right: rgb(var(--input-bg)) 1px solid;
    padding: 20px 12px 20px  12px;
}   

.logo {
    padding: 25px 12px 25px 12px;
    margin-bottom: 20px; 
}
.menu-items-container, .menu-footer {
    gap: 2rem;
    padding: 0px 12px 0px  12px;
}

.menu-list li {
    padding: 16px 0;
}
.menu-item {font-size: 16px;}
.menu-item a {text-decoration: none;color: black}
.menu-item a:hover {text-decoration: none;color: black}
.menu-item img {
    font-size: 22px; 
    height: 22px; 
    width: 22px; 
}

.compass {
    transform: rotate(45deg);
}

.menu-item .bold {
    font-weight: bold;
}

.svg-icon {
    height: 25px;
    width: 25px;
}



/* .menu-container a:hover {
    color: rgb(var(--input-bg))
} */

.menu-container  .svg-icon:hover path, 
.menu-container a:hover .svg-icon path, 
.menu-container  a:hover .svg-icon rect,
.menu-container  .svg-icon:hover rect {
    fill: rgb(var(--input-bg));
}

.menu.container .menu-desktop-container{
        display: grid; 
        height: 100vh; 
        width: 100vw; 
        grid-template-columns: 335px 1fr;
}

.menu.container .mobile-container {
    display: none;
}


@media screen and (max-width: 600px) {
    .menu.container .menu-desktop-container{ 
        display: none;
    }
    .menu.container .mobile-container {
        display: flex; 
        height: 100vh; 
        min-width: 100%;
        width: 100%;
        flex-direction: column;
    }
    
    .mobile-nav-header, .mobile-nav-footer {
        height: 5vh;
        background: white;
    }
    
    .mobile-nav-footer{
        border-top: rgb(var(--input-bg)) 1px solid;
    }
    .mobile-nav-header{
        border-bottom: rgb(var(--input-bg)) 1px solid;
    }
    .logo {
        padding: 10px 12px 10px 12px;
        margin-bottom: 20px;         
    }
}