.post-container {
    background: white; 
    border-radius: 8px; 
    max-width: 400px; 
    border: 1px solid rgb(var(--input-bg));
    margin-inline:auto;
    margin-top: 12px;
    margin-bottom: 12px; 
}

.post-content {
    height: min-content; 
    /* /* max-height: 500px;  */
    min-height: min-content; 
    width: 100%; 
    /* background: gray; */
    overflow: hidden;
    position: relative;
}

.post-content .image-container {
    position: relative; 
}

.post-content .image-container .icons-container {
    position: absolute;  
    top: 0; 
    left: 0; 
    right:0; 
    bottom: 0; 
    display: none; 
}
.post-content .image-container:hover .icons-container {
    display: block;
}

.post-content .image-container .counter-container {
    position: absolute  ; 
    bottom: 5%;
    left: 50%; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.post-content .image-container .counter-container .image-counter {
    display: block;
    margin-right: 5px; 
    height: 10px; 
    width: 10px; 
    border-radius: 50%; 
    border: 1px solid black;
    background: black; 
}
.post-content .image-container  .counter-container .image-counter.fill {
    background: white; 
}

.post-content .image-container .icons-container .change-image{
    background: rgba(0,0,0,0.5);
    color: white; 
    position: absolute; 
    transform: translate(0%, -50%);
    top: 50%; 
    padding: 10px; 
}

.post-content .image-container .icons-container .change-image.change-image-left{
    position: absolute; 
    left: 5%; 
}
.post-content .image-container .icons-container .change-image.change-image-right{
    position: absolute; 
    right: 5%; 
}

.post-content .image-container img {
    height: 100%; 
    width: 100%; 
    object-fit: cover;

}

.post-comments {
    min-height: 200px; 
}

.post-comments img {
    cursor: pointer;
    height: 20px; 
    width: 20px; 

}

.like-counter {
    font-size: 12px; 
}



.comment-input {
    background: none; 
}

.post-detail {
    white-space: pre-wrap;
    text-decoration: none;
}
.post-detail a{
    text-decoration: none;

}

.comments-container .hr {
    /* background: rgb(var(--input-bg)); */
    height: 1px; 
    width: calc(100% + 1rem); 
    transform: translateX(calc(-0.5em - 2px) );
    background: rgb(var(--input-bg));
}

.post-container .svg-icon:hover path {
    fill: rgb(var(--input-bg));
    color: rgb(var(--input-bg));
    stroke: rgb(var(--input-bg));
}

.post-container .icon-section .liked-post path{
    fill: red; 
}


.post-container .comments-container .comment-options, .post-container .post-header .post-menu {
    position: relative;
}
.post-container .comments-container .comment-options .comment-options-list,
.post-container .post-header .post-menu-options
{
    position: absolute; 
    left: 120%; 
    top: -100%; 
    background: white; 
    border-radius: 2px; 
    border: 1px solid black;
    padding: 8px; 
    width: fit-content
}
.post-container .comments-container .comment-options .comment-options-list ul,
.post-container .post-header .post-menu-options
{
    z-index: 10; 
    min-width: 100px; 
}
.post-container .post-header .post-menu-options li a {
    text-decoration: none;
    color: inherit;
}
.post-container .comments-container .comment {
    white-space: pre-line;
}
.post-container .comments-container .edit-comment {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.post-container .comments-container .edit-comment textarea {
    border-radius: 3px; 
    margin: 0 6px 0 0 ; 
    padding: 5px; 
    flex-grow: 1;
    height: 100%; 
}



@media screen and (max-width: 600px) {
    .post-container {
        border-radius: 0;
        width:100%;
        max-width: 100%; 
    }
}